:root{
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-div{
    width: 40rem;
    border: 1px solid var(--grey);
    padding: 1rem;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.counter-div > *{
    margin-bottom: 2rem;
}

.count{
    font-size: 4rem;
}

.buttons{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 3px; 
    font-weight: 700;
    color: var(--white);
    cursor: pointer; 
}

button.subtract{
    background-color: orangered;
}

button.reset{
    background-color: var(--white);
    color: var(--black);
}
 
button.add{
    background-color: green;
}